<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h2> Enter User email </h2>
<form method="POST">
    <label>
        <input type="text" name="email" required>
    </label>

    <h2> New Password</h2>
    <label>
        <input type="password" name="new_password" required>
    </label>

    <h2> Confirm New Password</h2>
    <label>
        <input type="password" name="confirm_new_password" required>
    </label>

    <button type="submit" name="submit_new_password" value="submit_new_password"> Change Password </button>
</form>

<form action="/{{ previous_webpage }}.html" method="GET">
    <button type="submit" name="go_back" value="go_back"> Go Back</button>
</form>
{% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
</body>
</html>