<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h2> New Last Name</h2>
<form method="POST">
    <input type="text" name="new_lastname" required><br>
    <button type="submit" name="submit_new_lastname" value="submit_new_lastname"> Submit</button>
</form>

<form action="/bidder_settings.html" method="GET">
    <button type="submit" name="go_back" value="go_back"> Go Back</button>
</form>
{% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
</body>
</html>