<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h1>LOGIN</h1>
<form method="POST">
    <label>Email:</label><br>
    <input type="text" name="email" required><br>
    <label>Password:</label><br>
    <input type="password" name="password" required><br>
    <button type="submit" name="role" value="bidder">Bidder Login</button>
    <button type="submit" name="role" value="seller">Seller Login</button>
    <button type="submit" name="role" value="helpdesk">HelpDesk Login</button>
    <br>
</form>

<form action="/change_password.html" method="GET">
    <button type="submit" name="change password" value="change password"> Change Password</button>
</form>
{% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
</body>
</html>